<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/pikalogo.png" alt="Pika logo" class="br0 db mb0 w-100"/>
	</a>


	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/7C-english" class="pa3 no-underline db">7C</a></li>
		<li><a href="/8B-english" class="pa3 no-underline db">8B</a></li>
		<li><a href="/english-research" class="pa3 no-underline db">Research</a></li>
		<li><a href="/english-debate" class="pa3 no-underline db">Debate</a></li>
		<li><a href="/fall-2022" class="pa3 no-underline db">Previous Semesters</a></li>
		<!-- <div class="dropdown">
			<button class="dropbtn">Previous Semesters</button>
			<div class="dropdown-content">
			  <a href="/fall-2022">Fall 2022</a>
			</div>
		</div>
	    -->
		<!-- <li><a href="/post" class="pa3 no-underline db">7C English</a></li>

		<li><a href="/contact" class="pa3 no-underline db">8B English</a></li> -->
	</ul>

</nav>
